<div class="container">
  <div class="row">
    <div class="col-md-2 bg-dark bg-block text-light">
    <h3>ホーム</h3>
    <h3>話題を検索</h3>
    <h3>通知</h3>
    <h3>メッセージ</h3>
    <h3>ブックマーク</h3>
    <h3>プロファイル</h3>
    <% unless user_signed_in? %>
      <%= link_to "ログイン",new_user_session_path,class:"btn btn-info"%>
      <%= link_to "アカウント作成",new_user_registration_path,class:"btn btn-light my-3"%>
    <% else %>
      <%= link_to "つぶやく",new_post_path,class:"btn btn-info btn-rounded"%>
      <%= link_to "ログアウト",destroy_user_session_path,class:"btn btn-secondary my-3"%>
    <% end %>
    </div>
    
    <div class="col-md-5 bg-info">
        <h1>ホーム</h1>
        <div class="alert-secondary">Find me in app/views/homes/top.html.erb</div>
    </div>
    
    <div class="col-md-5 bg-danger">
        
        <%= link_to "リンク", root_path, class: "btn btn-info" %>
    </div>




  </div>
</div>